<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>X Farms</title>

<!-- Global Styles -->
<link rel="stylesheet" href="../assets/styles.css">

<!--  Footer Styles -->
<link rel="stylesheet" href="../assets/footer.css">
</head>

<footer class="footer">

  <div class="footer-content">


    <!-- Column 2 -->
    <div class="footer-col">
      <h4>About Us</h4>
      <a href="#">Our Principles</a>
      <a href="#">Our Concept</a>
      <a href="#">Key Systems</a>
      <a href="#">Masterplan View</a>
    </div>

    <!-- Column 3 -->
    <div class="footer-col">
      <h4>Our Products</h4>
      <a href="#">Trees</a>
      <a href="#">Plants</a>
      <a href="#">Crops</a>
    </div>

    <!-- Column 4 -->
    <div class="footer-col">
      <h4>Book a visit</h4>
    </div>

    <!-- Column 5 (Subscribe) -->
    <div class="footer-col subscribe">
      <p>Subscribe for our farm's updates and discounts</p>

      <div class="subscribe-form">
        <input type="email" placeholder="Email" />
        <button>Submit</button>
      </div>
    </div>

  </div>

  <!-- Social Row -->
  <div class="footer-bottom">
    <div class="social">
      <i><img src="../assets/images/banners/facebook.png" alt=""></i>
      <i><img src="../assets/images/banners/linkedin.png" alt=""></i>
      <i><img src="../assets/images/banners/instagram.png" alt=""></i>
      <i><img src="../assets/images/banners/tiktok.png" alt=""></i>
    </div>

    <p class="copyright">
      © 2025 NUWA Farms. All rights reserved. NUWA™ is a registered brand.
    </p>

    <div class="links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
    </div>
  </div>

</footer>
