<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nuwa Farms</title>

<!-- Global Styles -->
<link rel="stylesheet" href="../assets/styles.css">

<!--  Footer Styles -->
<link rel="stylesheet" href="../assets/footer.css">
</head>

<footer class="footer">

  <div class="footer-content">


    <!-- Column 2 -->
    <div class="footer-col">
      <a href="about.html"><h4 data-key="nav_about"></h4></a>
      <a data-key="principles_title" href="about.html#principles"></a>
      <a data-key="concept_title" href="about.html#concept"></a>
      <a data-key="systems_title" href="about.html#systems-section"></a>
      <a data-key="plan_title" href="about.html#masterplan"></a>
    </div>

    <!-- Column 3 -->
    <div class="footer-col">
      <a href="products.html"><h4 data-key="nav_products"></h4></a>
      <a href="products.html#basket-section" data-key="nav_weeklybox"></a>
    </div>

    <!-- Column 4 -->
    <div class="footer-col">
      <a href="book-visit.html"><h4 data-key="nav_book"></h4></a>
    </div>

    <!-- Column 5 (Subscribe) -->
    <div class="footer-col subscribe">
      <p data-key="newsletter_text"></p>


      <div class="subscribe-form">
        <input type="email" placeholder="" data-key="email_placeholder">
        <button type="submit" data-key="submit_btn"></button>
      </div>
    </div>

  </div>

  <!-- Social Row -->
  <div class="footer-bottom">
    <div class="social">
      <i><img src="../assets/images/banners/facebook.png" alt=""></i>
      <i><img src="../assets/images/banners/linkedin.png" alt=""></i>
      <i><img src="../assets/images/banners/instagram.png" alt=""></i>
      <i><img src="../assets/images/banners/tiktok.png" alt=""></i>
    </div>

    <p class="copyright" data-key="footer_copyright"></p>


    <div class="links">
      <a href="privacy.html" data-key="privacy_policy"></a> |
      <a href="terms.html" data-key="terms_of_service"></a>
    </div>
  </div>

</footer>
