<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>X Farms</title>

<!-- Global Styles -->
<link rel="stylesheet" href="/NuwaFarms/assets/styles.css">
<link rel="stylesheet" href="/NuwaFarms/assets/header.css">

</head>
<body>
    
    <header class="header">
        <div class="container">

            <!-- Logo -->
            <div class="navlogo">
            <a href="index.html">
                <img src="../assets/images/logos/light.svg" alt="NUWA Farms logo" class="lightimg">
                <img src="../assets/images/logos/dark.svg" alt="NUWA Farms logo" class="darkimg">
            </a>
            </div>

            <!-- Navigation -->
            <nav class="nav">
                <ul>
                    <li><a data-key="nav_about" href="about.html"></a></li>
                    <li><a data-key="nav_products" href="products.html"></a></li>
                    <li><a data-key="nav_book" href="book-visit.html"></a></li>
                </ul>
            </nav>

            <!-- Language Switch -->
            <div class="lang-switch">
                <a href="#" id="lang-en">EN</a>
                <span>|</span>
                <a href="#" id="lang-ar" class="active">AR</a>
            </div>

        </div>
    </header>
<script src="/NuwaFarms/assets/js/translation.js"></script>
            <script>
            window.addEventListener('scroll', () => {
                const header = document.querySelector('header');
                if (window.scrollY > 50) header.classList.add('scrolled');
                else header.classList.remove('scrolled');
            });
        </script>
</body>
