.footer {

  background: var(--darkgreen);
  color: var(--cream);
  padding: 50px 80px 30px;
  font-family: inherit;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  color: var(--cream);
}

.footer-col a {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--cream);
  opacity: 0.8;
  text-decoration: none;
  transition: 0.2s;
}

.footer-col a:hover {
  opacity: 1;
}


/* Subscribe Section */
.subscribe p {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 12px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subscribe-form input {
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #d3d3d340;
  background: transparent;
  color: var(--cream);
  outline: none;
}

.subscribe-form button {
  background: var(--cream);
  color: var(--darkgreen);
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  width: 120px;
}

.subscribe-form button:hover {
  opacity: 0.85;
}


/* Footer bottom */
.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 30px;
}

.social i{
  margin-right: 35px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  gap: 30px;
}
.social img{
  width: 20px;
}
.social:hover {
  opacity: 1;
}

.links a {
  margin-left: 20px;
  color: var(--cream);
  font-size: 14px;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
}

.links a:hover {
  opacity: 1;
}

.copyright {
  font-size: 12px;
  opacity: 0.8;
}


/* Responsive */
@media (max-width: 900px) {
  .footer {
    padding: 40px 30px;
  }

  .footer-content {
    gap: 40px;
  }

  .subscribe-form {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .links a {
    margin-left: 10px;
  }
}
